# Configuration file for RefTest_t

process TEST = {

	path p = {Thing, OtherThing, output}

	module Thing = ThingProducer {int32 debugLevel = 1}

	module OtherThing = OtherThingProducer {int32 debugLevel = 1}

	module output = PoolOutputModule {string fileName = 'RefTest.root'}

	source = EmptyInputService {int32 MaxEvents = 20}

}
